In [1]:
from datagrunt.csvfile import CSVReader

### It's recommened to use the `duckdb` engine when querying CSV files. These query examples will work with the Polars engine exactly the same way as presented, but Datagrunt converts all data to strings when using DuckDB and it better preserves the integrity of the data due to not coercing into inferred datatypes. You'll see below that you can use SQL and you can optionally cast columns to different data types as needed.

### For example, you'll notice there are postal codes in the data below. Usually, postal codes are read as integers by most processing engines. Many postal codes begin with a `0`. If postal codes are read as an integer, the leading `0` will be dropped erroneously. This can be fixed by using the `lpad` function in Python, but we'd prefer to present the data in its original form as a string as opposed to having the data altered due to data type conversion.

In [2]:
csv_file = 'data/electric_vehicle_population_data.csv'
engine = 'duckdb'

In [3]:
dg = CSVReader(csv_file, engine=engine) # set duckdb as the processing engine.

In [4]:
dg.get_sample() # return sample of the data to get a peek at the schema

┌────────────┬───────────┬──────────────┬───┬──────────────────────┬──────────────────────┬───────────────────┐
│ VIN (1-10) │  County   │     City     │ … │   Vehicle Location   │   Electric Utility   │ 2020 Census Tract │
│  varchar   │  varchar  │   varchar    │   │       varchar        │       varchar        │      varchar      │
├────────────┼───────────┼──────────────┼───┼──────────────────────┼──────────────────────┼───────────────────┤
│ 5YJSA1E28K │ Snohomish │ Mukilteo     │ … │ POINT (-122.29943 …  │ PUGET SOUND ENERGY…  │ 53061042001       │
│ 1C4JJXP68P │ Yakima    │ Yakima       │ … │ POINT (-120.468875…  │ PACIFICORP           │ 53077001601       │
│ WBY8P6C05L │ Kitsap    │ Kingston     │ … │ POINT (-122.517835…  │ PUGET SOUND ENERGY…  │ 53035090102       │
│ JTDKARFP1J │ Kitsap    │ Port Orchard │ … │ POINT (-122.653005…  │ PUGET SOUND ENERGY…  │ 53035092802       │
│ 5UXTA6C09N │ Snohomish │ Everett      │ … │ POINT (-122.203234…  │ PUGET SOUND ENERGY…  │ 53061041605       │
│ 5YJYGDEF8L │ King      │ Seattle      │ … │ POINT (-122.378886…  │ CITY OF SEATTLE - …  │ 53033004703       │
│ JTMAB3FV7P │ Thurston  │ Rainier      │ … │ POINT (-122.677141…  │ PUGET SOUND ENERGY…  │ 53067012530       │
│ JN1AZ0CPXC │ King      │ Kirkland     │ … │ POINT (-122.192596…  │ PUGET SOUND ENERGY…  │ 53033022402       │
│ JN1AZ0CP7B │ King      │ Kirkland     │ … │ POINT (-122.192596…  │ PUGET SOUND ENERGY…  │ 53033022603       │
│ 1N4AZ0CP0F │ Thurston  │ Olympia      │ … │ POINT (-122.86491 …  │ PUGET SOUND ENERGY…  │ 53067010300       │
│     ·      │   ·       │    ·         │ · │          ·           │          ·           │      ·            │
│     ·      │   ·       │    ·         │ · │          ·           │          ·           │      ·            │
│     ·      │   ·       │    ·         │ · │          ·           │          ·           │      ·            │
│ 5YJYGDEE7M │ Clark     │ Vancouver    │ … │ POINT (-122.515805…  │ BONNEVILLE POWER A…  │ 53011041310       │
│ 7SAYGAEE0P │ Snohomish │ Monroe       │ … │ POINT (-121.968385…  │ PUGET SOUND ENERGY…  │ 53061052203       │
│ 2C4RC1N75P │ King      │ Burien       │ … │ POINT (-122.347227…  │ CITY OF SEATTLE - …  │ 53033027600       │
│ 1FTVW1EVXP │ King      │ Kirkland     │ … │ POINT (-122.202653…  │ PUGET SOUND ENERGY…  │ 53033022300       │
│ 4JGGM1CB2P │ King      │ Seattle      │ … │ POINT (-122.2453 4…  │ CITY OF SEATTLE - …  │ 53033011700       │
│ 1N4BZ0CP0G │ King      │ Seattle      │ … │ POINT (-122.334079…  │ CITY OF SEATTLE - …  │ 53033008300       │
│ 7SAYGDEF2N │ King      │ Bellevue     │ … │ POINT (-122.144149…  │ PUGET SOUND ENERGY…  │ 53033024704       │
│ 1N4BZ1DP7L │ King      │ Bellevue     │ … │ POINT (-122.144149…  │ PUGET SOUND ENERGY…  │ 53033024902       │
│ 1V2GNPE82P │ King      │ Kirkland     │ … │ POINT (-122.202653…  │ PUGET SOUND ENERGY…  │ 53033022201       │
│ 7SAYGDEE7P │ Kitsap    │ Bremerton    │ … │ POINT (-122.696120…  │ PUGET SOUND ENERGY…  │ 53035080700       │
├────────────┴───────────┴──────────────┴───┴──────────────────────┴──────────────────────┴───────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                          17 columns (6 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [5]:
df = dg.to_dataframe()
df

shape: (200_048, 17)
┌────────────┬───────────┬────────────┬───────┬───┬────────────┬───────────┬───────────┬───────────┐
│ VIN (1-10) ┆ County    ┆ City       ┆ State ┆ … ┆ DOL        ┆ Vehicle   ┆ Electric  ┆ 2020      │
│ ---        ┆ ---       ┆ ---        ┆ ---   ┆   ┆ Vehicle ID ┆ Location  ┆ Utility   ┆ Census    │
│ str        ┆ str       ┆ str        ┆ str   ┆   ┆ ---        ┆ ---       ┆ ---       ┆ Tract     │
│            ┆           ┆            ┆       ┆   ┆ str        ┆ str       ┆ str       ┆ ---       │
│            ┆           ┆            ┆       ┆   ┆            ┆           ┆           ┆ str       │
╞════════════╪═══════════╪════════════╪═══════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ 5YJSA1E28K ┆ Snohomish ┆ Mukilteo   ┆ WA    ┆ … ┆ 236424583  ┆ POINT (-1 ┆ PUGET     ┆ 530610420 │
│            ┆           ┆            ┆       ┆   ┆            ┆ 22.29943  ┆ SOUND     ┆ 01        │
│            ┆           ┆            ┆       ┆   ┆            ┆ 47.912654 ┆ ENERGY    ┆           │
│            ┆           ┆            ┆       ┆   ┆            ┆ )         ┆ INC       ┆           │
│ 1C4JJXP68P ┆ Yakima    ┆ Yakima     ┆ WA    ┆ … ┆ 249905295  ┆ POINT (-1 ┆ PACIFICOR ┆ 530770016 │
│            ┆           ┆            ┆       ┆   ┆            ┆ 20.468875 ┆ P         ┆ 01        │
│            ┆           ┆            ┆       ┆   ┆            ┆ 1 46.6046 ┆           ┆           │
│            ┆           ┆            ┆       ┆   ┆            ┆ 178…      ┆           ┆           │
│ WBY8P6C05L ┆ Kitsap    ┆ Kingston   ┆ WA    ┆ … ┆ 260917289  ┆ POINT (-1 ┆ PUGET     ┆ 530350901 │
│            ┆           ┆            ┆       ┆   ┆            ┆ 22.517835 ┆ SOUND     ┆ 02        │
│            ┆           ┆            ┆       ┆   ┆            ┆ 1 47.7981 ┆ ENERGY    ┆           │
│            ┆           ┆            ┆       ┆   ┆            ┆ 436…      ┆ INC       ┆           │
│ JTDKARFP1J ┆ Kitsap    ┆ Port       ┆ WA    ┆ … ┆ 186410087  ┆ POINT (-1 ┆ PUGET     ┆ 530350928 │
│            ┆           ┆ Orchard    ┆       ┆   ┆            ┆ 22.653005 ┆ SOUND     ┆ 02        │
│            ┆           ┆            ┆       ┆   ┆            ┆ 2 47.4739 ┆ ENERGY    ┆           │
│            ┆           ┆            ┆       ┆   ┆            ┆ 066…      ┆ INC       ┆           │
│ 5UXTA6C09N ┆ Snohomish ┆ Everett    ┆ WA    ┆ … ┆ 186076915  ┆ POINT (-1 ┆ PUGET     ┆ 530610416 │
│            ┆           ┆            ┆       ┆   ┆            ┆ 22.203234 ┆ SOUND     ┆ 05        │
│            ┆           ┆            ┆       ┆   ┆            ┆ 9 47.8956 ┆ ENERGY    ┆           │
│            ┆           ┆            ┆       ┆   ┆            ┆ 271…      ┆ INC       ┆           │
│ …          ┆ …         ┆ …          ┆ …     ┆ … ┆ …          ┆ …         ┆ …         ┆ …         │
│ JTMAB3FVXR ┆ Snohomish ┆ Snohomish  ┆ WA    ┆ … ┆ 262809249  ┆ POINT (-1 ┆ PUGET     ┆ 530610524 │
│            ┆           ┆            ┆       ┆   ┆            ┆ 22.048345 ┆ SOUND     ┆ 02        │
│            ┆           ┆            ┆       ┆   ┆            ┆ 7 47.9435 ┆ ENERGY    ┆           │
│            ┆           ┆            ┆       ┆   ┆            ┆ 765…      ┆ INC       ┆           │
│ 7FCTGAAA7P ┆ Pierce    ┆ Orting     ┆ WA    ┆ … ┆ 252195450  ┆ POINT (-1 ┆ PUGET     ┆ 530530701 │
│            ┆           ┆            ┆       ┆   ┆            ┆ 22.197791 ┆ SOUND     ┆ 00        │
│            ┆           ┆            ┆       ┆   ┆            ┆ 47.094856 ┆ ENERGY    ┆           │
│            ┆           ┆            ┆       ┆   ┆            ┆ 5)        ┆ INC||CITY ┆           │
│            ┆           ┆            ┆       ┆   ┆            ┆           ┆ O…        ┆           │
│ 1V2GNPE87P ┆ Spokane   ┆ Spokane    ┆ WA    ┆ … ┆ 227314790  ┆ POINT (-1 ┆ MODERN    ┆ 530630023 │
│            ┆           ┆            ┆       ┆   ┆            ┆ 17.428902 ┆ ELECTRIC  ┆ 00        │
│            ┆           ┆            ┆       ┆   ┆            ┆ 47.658268 ┆ WATER     ┆           │
│            ┆           ┆            ┆       ┆   ┆            ┆ )         ┆ COMPANY   ┆           │
│ 1G1RD6E42E ┆ Snohomish ┆ Mountlake  ┆ WA    ┆ … ┆ 170747377  ┆ POINT (-1 ┆ PUGET     ┆ 530610510 │
│            ┆           ┆ Terrace    ┆       ┆   ┆            ┆ 22.306706 ┆ SOUND     ┆ 00        │
│            ┆           ┆            ┆       ┆   ┆            ┆ 47.792043 ┆ ENERGY    ┆           │
│            ┆           ┆            ┆       ┆   ┆            ┆ )         ┆ INC       ┆           │
│ 5YJ3E1EAXP ┆ Kitsap    ┆ Bremerton  ┆ WA    ┆ … ┆ 224663134  ┆ POINT (-1 ┆ PUGET     ┆ 530350916 │
│            ┆           ┆            ┆       ┆   ┆            ┆ 22.636245 ┆ SOUND     ┆ 00        │
│            ┆           ┆            ┆       ┆   ┆            ┆ 47.62806) ┆ ENERGY    ┆           │
│            ┆           ┆            ┆       ┆   ┆            ┆           ┆ INC       ┆           │
└────────────┴───────────┴────────────┴───────┴───┴────────────┴───────────┴───────────┴───────────┘

### Write a SQL query and use a f string to interpolate the database table name provided automatically by Datagrunt powered by DuckDB.

In [6]:
query = f"""
WITH core AS (
    SELECT
        City AS city,
        "VIN (1-10)" AS vin
    FROM {dg.db_table}
)
SELECT
    city,
    COUNT(vin) AS vehicle_count
FROM core
GROUP BY 1
ORDER BY 2 DESC
"""

In [7]:
dg.query_data(query)

┌───────────────┬───────────────┐
│     city      │ vehicle_count │
│    varchar    │     int64     │
├───────────────┼───────────────┤
│ Seattle       │         32602 │
│ Bellevue      │          9960 │
│ Redmond       │          7165 │
│ Vancouver     │          7081 │
│ Bothell       │          6602 │
│ Kirkland      │          5883 │
│ Renton        │          5835 │
│ Sammamish     │          5795 │
│ Olympia       │          4830 │
│ Tacoma        │          4204 │
│   ·           │             · │
│   ·           │             · │
│   ·           │             · │
│ Minneapolis   │             1 │
│ Hamilton      │             1 │
│ Bedford       │             1 │
│ Waldorf       │             1 │
│ Las Cruces    │             1 │
│ Conyers       │             1 │
│ Benicia       │             1 │
│ Ellicott City │             1 │
│ Sausalito     │             1 │
│ Fallon        │             1 │
├───────────────┴───────────────┤
│      764 rows (20 shown)      │
└───────────────────────────────┘

### Run the query again and return to a Polars dataframe

In [8]:
dg.query_data(query).pl()

shape: (764, 2)
┌────────────────┬───────────────┐
│ city           ┆ vehicle_count │
│ ---            ┆ ---           │
│ str            ┆ i64           │
╞════════════════╪═══════════════╡
│ Seattle        ┆ 32602         │
│ Bellevue       ┆ 9960          │
│ Redmond        ┆ 7165          │
│ Vancouver      ┆ 7081          │
│ Bothell        ┆ 6602          │
│ …              ┆ …             │
│ Gunpowder      ┆ 1             │
│ Holden Village ┆ 1             │
│ Yorktown       ┆ 1             │
│ Ridgecrest     ┆ 1             │
│ Startup        ┆ 1             │
└────────────────┴───────────────┘

### Run the query yet again and return a Pandas dataframe

In [9]:
dg.query_data(query).to_df()

                city  vehicle_count
0            Seattle          32602
1           Bellevue           9960
2            Redmond           7165
3          Vancouver           7081
4            Bothell           6602
..               ...            ...
759      Deer Harbor              1
760  North Las Vegas              1
761            Vista              1
762            Tempe              1
763        Green Bay              1

[764 rows x 2 columns]

### Select directly from the dataframe object above assigned to the `df` variable. Do not use a f string to interpolate the `df` variable as an object. Instead, reference the `df` object in the `FROM` statement that's embedded in the query string.

### Also notice that we're using SQL to make the `VIN (1-10)` column name more friendly with a SQL alias in the CTE.

In [10]:
df_query = f"""
WITH core AS (
    SELECT
        City AS city,
        "VIN (1-10)" AS vin
    FROM df
)
SELECT
    city,
    COUNT(vin) AS vehicle_count
FROM core
GROUP BY 1
ORDER BY 2 DESC
"""

### Return the results from querying the dataframe.

In [11]:
dg.query_data(df_query)

┌──────────────────┬───────────────┐
│       city       │ vehicle_count │
│     varchar      │     int64     │
├──────────────────┼───────────────┤
│ Seattle          │         32602 │
│ Bellevue         │          9960 │
│ Redmond          │          7165 │
│ Vancouver        │          7081 │
│ Bothell          │          6602 │
│ Kirkland         │          5883 │
│ Renton           │          5835 │
│ Sammamish        │          5795 │
│ Olympia          │          4830 │
│ Tacoma           │          4204 │
│   ·              │             · │
│   ·              │             · │
│   ·              │             · │
│ Lamont           │             1 │
│ Dickinson        │             1 │
│ Saratoga Springs │             1 │
│ Gunpowder        │             1 │
│ Holden Village   │             1 │
│ Yorktown         │             1 │
│ Ridgecrest       │             1 │
│ Startup          │             1 │
│ Sacramento       │             1 │
│ Washtucna        │             1 │
├──────────────────┴───────────────┤
│ 764 rows (20 shown)    2 columns │
└──────────────────────────────────┘

### Query the dataframe using the `df_query` SQL query string and return the results to a Polars dataframe. The benefit here is you can use the power of SQL to transform data in a dataframe and return the results to a new dataframe object.

In [12]:
dataframe_query_polars_df = dg.query_data(df_query).pl()
dataframe_query_polars_df

shape: (764, 2)
┌───────────┬───────────────┐
│ city      ┆ vehicle_count │
│ ---       ┆ ---           │
│ str       ┆ i64           │
╞═══════════╪═══════════════╡
│ Seattle   ┆ 32602         │
│ Bellevue  ┆ 9960          │
│ Redmond   ┆ 7165          │
│ Vancouver ┆ 7081          │
│ Bothell   ┆ 6602          │
│ …         ┆ …             │
│ Vista     ┆ 1             │
│ Tempe     ┆ 1             │
│ Green Bay ┆ 1             │
│ Waverly   ┆ 1             │
│ Creston   ┆ 1             │
└───────────┴───────────────┘

### You can optionally use the `to_df` method to return the dataframe results as a Pandas dataframe. The beauty of this is that we're querying from a Polars dataframe, we use SQL to transform the data powered by DuckDB, and then we're returning the results to a Pandas dataframe. Datagrunt is designed to offer power, simplicity, and flexibility when working with CSV files.

In [13]:
dataframe_query_pandas_df = dg.query_data(df_query).to_df()
dataframe_query_pandas_df

          city  vehicle_count
0      Seattle          32602
1     Bellevue           9960
2      Redmond           7165
3    Vancouver           7081
4      Bothell           6602
..         ...            ...
759      Vista              1
760      Tempe              1
761  Green Bay              1
762    Waverly              1
763    Creston              1

[764 rows x 2 columns]